.text {
    width: 166px;
    height: 50px;
    border: 2px solid blue;
    color: red;
    margin: 50px 0 0 500px;
    font-family: cursive;
    font-size: 30px;
    position: absolute;
    z-index: 10;
}

.image {
    background: url("bla.png") no-repeat;
    width: 603px;
    height: 466px;
    position: absolute;
    z-index: 5;
    margin: 20px 0 0 500px;
}

.mybutton {
    width: 200px;
    height: 50px;
    background-color: greenyellow;
    outline: none;
    cursor: pointer;
}

.mybutton:hover {
    background-color: aqua;
}

.input-text{
    margin: 94px 0 0 -178px;
    position: absolute;
    width: 136px;
    height: 59px;
    border: 4px solid chocolate;
    border-radius: 13px;
    padding-left: 0px;
    font-size: larger;
    text-align: center;
}

.input-text:focus{
   outline: none;
    background-color: #20ee0f;
}